.page {
  display: flex;
  overflow-x: hidden;
}

.content {
  background-color: var(--bg-color);
  min-height: 100vh;
}

.margin-content {
  width: calc(100% - 225px);
  margin-left: 225px;
  padding: 60px 40px;
  box-sizing: border-box;
}

.full-content {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .margin-content {
    width: 100%;
    margin: 0;
    padding: 50px 20px 30px 20px;
    box-sizing: border-box;
  }
}