.sidebar-wrapper {
    display: flex;
    flex-direction: column;
}

.sidebar-wrapper .hamburger-container {
    display: none;
}

.sidebar {
    width: 225px;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    scrollbar-width: thin;
    box-shadow: 6px 0 5px -5px rgba(0, 0, 0, 0.25);
    padding-bottom: 30px;
    box-sizing: border-box;
}

.sidebar .hamburger-close-container {
    display: none;
}

.sidebar .logo {
    display: flex;
    gap: 5px;
    margin-top: 60px;
}

.sidebar .logo-image {
    width: 125px;
    height: 40px;
}

.sidebar .menu {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.sidebar .menu .item {
    width: 100%;
}

.sidebar .menu .active-item {
    background-color: var(--accent-color-1);
}

.sidebar .menu .non-active-item:hover {
    background-color: aliceblue;
}

.sidebar .menu .item-link {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    padding: 5px 0 4px 0;
    padding-left: 12.5%;
    box-sizing: border-box;
}

.sidebar .menu .item-label {
    font-size: 21px;
    font-weight: 700;
    color: var(--secondary-color-3);
}

.sidebar .menu .disabled-label {
    opacity: 0.3;
}

@media only screen and (max-width: 768px) {
    .sidebar-wrapper .hamburger-container {
        position: fixed;
        width: 100%;
        background-color: aliceblue;
        display: flex;
        align-items: center;
        padding: 10px 15px;
    }

    .sidebar {
        background-color: aliceblue;
        z-index: 1;
        transition: width 0.4s ease, opacity 0.4s ease;
    }

    .sidebar-closed {
        width: 0;
        opacity: 0;
        overflow: hidden;
    }

    .sidebar-opened {
        width: 250px;
        opacity: 1;
    }

    .sidebar .hamburger-close-container {
        display: block;
        width: 100%;
        padding: 10px 15px;
        box-sizing: border-box;
    }

    .sidebar .logo {
        margin-top: 20px;
        padding: 0 10px;
        flex-direction: column;
        align-items: center;
        width: 100%;
        box-sizing: border-box;
    }

    .sidebar .logo-text {
        font-size: var(--font-size-sub-heading);
        font-weight: var(--font-weight-sub-heading);
    }

    .sidebar .menu {
        margin-top: 50px;
    }
}